body {
    font-family: "Open Sans" !important;
    font-size: 1.6rem !important;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
    //margin-top: 70px;
}

.navbar {
    font-family: Arial;
    min-height: 80px;
    letter-spacing: 0.03em;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.13);
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-brand {
  height: 78px;
  }

.navbar-toggle {
    margin-top: 23px;
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f3f3f3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3d4f9b;
    height: 3px;
}

.navbar-collapse {
    max-height: 400px !important;
    overflow: hidden;
}

.menu-one li a {
    color: #3d4f9b !important;
}

.topMenu {
    position: relative !important;
}

.lang {
    position: relative !important;
    left: -300px;
}

.menu-two li a {
    color: #fff !important;
    font-size: 1.4rem;
}

.menu-two li a:hover {
    text-decoration: underline;
}


.btn {
    font-family: "Arial";
    padding: 10px 50px;
    margin: 30px 0 20px;
    color: #3d4f9b;
    font-weight: bold;
    border: 1px solid #3d4f9b;
}

.btn:hover {
    color: #6273BC;
    border: 1px solid #6273BC;
}

.btn-yellow {
    color: #fff477;
    border: 1px solid #fff477;
}

.btn-yellow:hover {
    color: #fff;
    border: 1px solid #fff;
}

.vertical-align {
    display: flex;
    align-items: center;
}

section h2, h3 {
    font-family: "Roboto";
    font-weight: 200;
}

section h3 {
    margin: 30px 0 20px;
}

section h2::after {
    content: "";
    width: 60px;
    display: block;
    border: 1px solid #3d4f9b;
    margin-top: 10px;
}

#slider, #sectionAbout, #sectionPartners {
    min-height: 100vh;
}

#slider {
    background: url(../images/bgSectionMain.png) no-repeat top center scroll;
    background-size: cover;
}

#sectionAbout {
    background: url(../images/bgSectionAbout.png) no-repeat 10% 55% scroll;
    background-size: 50%;
}

#sectionPartners h2::after, #sectionParticipation h2::after, #sectionContacts h2::after {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.service {
    color: #fff;
    min-height: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service div {
    width: 85%;
}

.service a {
    color: #fff;
    text-decoration: underline;
}

.service a:hover {
    text-decoration: none;
}

.service1 {
    background: url(../images/bgServices1.png) no-repeat top center scroll;
    background-size: cover;
}
.service2 {
    background: url(../images/bgServices2.png) no-repeat top center scroll;
    background-size: cover;
}

.service3 {
    background: url(../images/bgServices3.png) no-repeat top center scroll;
    background-size: cover;
}
.service4 {
    background: url(../images/bgServices4.png) no-repeat top center scroll;
    background-size: cover;
}
.service5 {
    background: url(../images/bgServices5.png) no-repeat top center scroll;
    background-size: cover;
}
.service6 {
    background: url(../images/bgServices1.png) no-repeat top center scroll;
    background-size: cover;
}

#sectionPartners {
    background: url(../images/bgLogoTransparent.png) no-repeat bottom center scroll;
    background-size: 80%;
}

#sectionPartners img {
    max-width: 150px;
    max-height: 110px;
}

#sectionPartners h2, #sectionContacts h2 {
    margin-bottom: 80px;
}

.partnerLogoBlock {
    min-height: 130px;
}


#sectionParticipation {
    height: 760px;
    color: #fff;
    background: url(../images/bgSectionParticipation.png) no-repeat bottom center scroll;
}

#sectionParticipation h3 {
    font-size: 6.2rem;
}

#sectionContacts {
    min-height: 700px;
    padding: 50px 0;
    background: url(../images/bgLogoTransparent.png) no-repeat bottom center scroll;
    background-size: 80%;
}

.contactsInfo {
    margin-top: 70px;
}

#sectionContactsMap {
    height: 500px;
    background: #3d4f9b;
    color: #fff;
}


#sectionContactsMap input, #sectionContactsMap textarea {
    font-size: 1.6rem;
    color: #fff;
    background: transparent;
    height: 50px;
    margin: 30px 0;
    border: 1px solid #fff;
}

#sectionContactsMap textarea {
    height: 80px;
}

::placeholder {
    color: #fff !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff !important;
}

::-ms-input-placeholder {
    color: #fff !important;
}

.sectionContactsMap .container {
    position: relative;
}

#switcherWrap {
    width: 250px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    top: -45px;
    z-index: 3333;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switcherWrap p {
    margin: 0 20px;
}

#switcher {
    width: 62px;
    height: 32px;
    background-color: #3d4f9b;
    border-radius: 30px;
    padding: 1px;
}

#switcherBut {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    float: left;
}

#switcherBut:hover {
    cursor: pointer;
}

#yandexMap {
    width: 100%;
    height: 500px;
    //box-shadow: 10px 10px 13px 3px rgba(0,0,0,.13);
    position: absolute;
    z-index: 2;
    display: none;
}

.sendEmail {
    z-index: 100;
}

.footer {
    min-height: 300px;
    font-size: 1.4rem;
}

.menuFooter ul {
    width: 50%;
    float: left;
    -webkit-padding-start: 34px;
    text-align: left;
}

.menuFooter li {
    list-style: none;
    text-decoration: underline;
}

.menuFooter li a {
    color: #000;
}

.menuFooter li a:hover {
    color: #3d4f9b;
}

.socialNets h4 {
    margin-top: 0px;
}

.socialNets div a {
    margin: 20px 10px 0;
}

.socialNets div img:hover {
    filter: grayscale(100%);
}

.copyrights {
    height: 50px;
    //background: #3d4f9b;
    border-top: 1px solid #e7e7e7;
    //color: #fff;
    font-size: 1.4rem;
}

.copyrights p {
    margin: 0;
}
