@media only screen and (max-width: 767px) {
.navbar-nav li a:hover {
    text-decoration: underline;
}
#sectionAbout {
    background-image: none;
    }
}

@media only screen and (max-width: 992px) {
#sectionAbout {
    background: none;
}
#sectionAbout h2::after {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.centered {
    text-align: center;
}
.logoFooter, .socialNets {
    margin: 50px 0;
}
}

@media (min-width: 768px) {
  body {
    //margin-top: 130px;
  }
  .navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
  }
  .navbar-default {
    border-top: 50px solid #3d4f9b;
  }
  .menu-one>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .menu-two {
    margin-top: -130px;
    clear: both;
  }
  .navbar-nav:nth-child(1) {
    margin-top: -50px;
  }
  .menu-one li a:hover {
    border-bottom: 2px solid #3d4f9b;
    padding-bottom: 28px;
  }
}